<!DOCTYPE html>
<html>
	<head>
		<title>Culture Shocker | <%= @title %></title> 
	</head>
	<body>
		<h1>About Us</h1> 
		<p>
			<a href="http://filmbreak.com/">Filmbreak</a>
			is an awesome site that I'm linking to as a test because I don't know how to use rails yet. 
		</p>
	</body>
</html>